@import '../fonts/FontAwesome.otf';
body
{
  padding-top: 50px;
}
.starter-template
{
  padding: 40px 15px;
}
.modal.and.carousel
{
  position: absolute;
}

.bloc_recette
{
  height: 600px;
}

#instructions {
  border-top: solid gray 1px;
  padding-bottom: 10px;
}
.vote
{
  margin: 50px 0px;
}

.vote_bar
{
  width: 150px;
  height: 4px;
  background-color: #c91f17;
}

.vote_progress
{
  height: 4px;
  width: 50%;
  background-color: #63b96b;
}

.vote_btns
{
  margin-top: 10px;
}

.vote_btn
{
  border: none;
  padding: 0;
  margin: 0;
  display: inline-block;
  margin-left: 10px;
  cursor: pointer;
  background: transparent;
  transition: color 0.3s;
}

.vote_like:hover
{
  color: #63b96b;
}

.vote_dislike:hover
{
  color :#c91f17;
}
